name: 'cicd-actions'
on: [pull_request]

env:
    AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
    AWS_REGION: "ap-northeast-1"

    # Terraform
    TF_VERSION: "1.4.6"
    TF_VAR_aws_account_id: ${{ secrets.AWS_ACCOUNT_ID }}
    TF_VAR_aws_region: "ap-northeast-1"

jobs:
    ci:
        runs-on: ubuntu-latest
        timeout-minutes: 60
        permissions:
            id-token: write
            contents: read
            pull-requests: write
            statuses: write
        steps:
            - uses: actions/checkout@v3

            - uses: hashicorp/setup-terraform@v2
              with:
               terraform_version: ${{ env.TF_VERSION }}

            - uses: aws-actions/configure-aws-credentials@master
              with:
                role-to-assume: arn:aws:iam::${{ env.AWS_ACCOUNT_ID }}:role/mnagaa-github-actions-ro-role
                aws-region: ${{ env.AWS_REGION }}

            - name: Init
              run: terraform init -upgrade -no-color

            - name: Check format
              run: terraform fmt -check -recursive

            - name: Check validate
              run: terraform validate

            - name: Plan
              run: terraform plan -no-color -input=false